<div class="card">
  <img
    src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    alt="post-image" class="card-image">

  <div class="card-body">
    <small class="bg-light text-danger text-center">
      Design
    </small>
    <small class="bg-light text-success text-center ml-3">
      Featured
    </small>
    <small class="bg-light text-info text-center ml-3">
      Views-100,256
    </small>

    <h5 class="mt-1 ">
      How to start a blog in 2023 edition new category
    </h5>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cum omnis reprehenderit magni asperiores recusandae
      vitae voluptatum voluptatibus quaerat quibusdam.
    </p>

    <small class="bg-light text-warning text-center ml-3">
      Last Updated 2022
    </small>

  </div>
</div>
