.card{
  margin: 3rem 0rem;
  background-color: var(--secondary-color);
}

p,h3{
  color: var(--primary-color);
}

.btn-sub{
  margin-top: 2rem ;
  padding: 1.5rem 2.25rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

// .btn-sub:active{
//   background-color: var(--secondary-color);
//   color: var(--primary-color);

// }

input[type=text],input[type=email]
{
  height: 4.25rem;
  border-radius: 0px;
}

// input[type=text]{
//   margin-left: ;
// }

