header {
  height: 15rem;
}

div > a {
  text-decoration: none;
  font-size: 2rem !important;
}

// .site-logo {
//   padding: 1.5rem 2rem;
//   background-color: var(--secondary-color);
//   border-radius: 50px;
//   color: var(--primary-color);
// }
