<div class="card m-5">
  <h1 class="text-center mt-4">TERMS AND CONDITIONS</h1>
  <div class="card-body m-5 ">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laborum placeat deserunt maiores cumque quis soluta
      consectetur nisi recusandae, doloribus maxime itaque omnis tempora reiciendis temporibus, sint eveniet magni vel
      odio, laudantium error ratione iusto quae. At perspiciatis, eveniet quae asperiores quam molestias sint,
      necessitatibus nisi odio autem, totam facere expedita. Nesciunt temporibus eveniet quas aliquid aut quaerat
      laboriosam earum ipsa labore. Exercitationem velit blanditiis dolor iste repellat enim error illo molestiae maxime
      soluta id fugit, quod vitae porro, rerum ab. Accusantium modi ipsa mollitia dolorem labore placeat alias, aut
      blanditiis libero natus adipisci, laudantium nemo excepturi, nam dolore ad! </p>
    <p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laborum placeat deserunt maiores cumque quis soluta
      consectetur nisi recusandae, doloribus maxime itaque omnis tempora reiciendis temporibus, sint eveniet magni vel
      odio, laudantium error ratione iusto quae. At perspiciatis, eveniet quae asperiores quam molestias sint,
      necessitatibus nisi odio autem, totam facere expedita. Nesciunt temporibus eveniet quas aliquid aut quaerat
      laboriosam earum ipsa labore. Exercitationem velit blanditiis dolor iste repellat enim error illo molestiae maxime
      soluta id fugit, quod vitae porro, rerum ab. Accusantium modi ipsa mollitia dolorem labore placeat alias, aut
      blanditiis libero natus adipisci, laudantium nemo excepturi, nam dolore ad! </p>
    <p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laborum placeat deserunt maiores cumque quis soluta
      consectetur nisi recusandae, doloribus maxime itaque omnis tempora reiciendis temporibus, sint eveniet magni vel
      odio, laudantium error ratione iusto quae. At perspiciatis, eveniet quae asperiores quam molestias sint,
      necessitatibus nisi odio autem, totam facere expedita. Nesciunt temporibus eveniet quas aliquid aut quaerat
      laboriosam earum ipsa labore. Exercitationem velit blanditiis dolor iste repellat enim error illo molestiae maxime
      soluta id fugit, quod vitae porro, rerum ab. Accusantium modi ipsa mollitia dolorem labore placeat alias, aut
      blanditiis libero natus adipisci, laudantium nemo excepturi, nam dolore ad! </p>

      <div class="text-center">
        <button class="btn-card">
          BACK TO HOME
        </button>
      </div>
  </div>
</div>
