footer {
  margin-top: 20rem;
  height: 11rem;
  background-color: var(--navbar-footer-color);
  margin-top: 85vh;
}

.site-logo {
  // justify-content: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}


.nav-link{
  color: var(--primary-color);
}
