<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">
          Featured Posts
        </h2>
        <p class="text-white">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam deleniti aperiam distinctio, obcaecati
          deserunt cumque numquam! Quod odit exercitationem nobis dolores magni tenetur enim. Tempora itaque qui
          reiciendis voluptatum et.
        </p>
      </div>

      <div class="row">
        <div class="col-sm-7 col-md-6 col-lg-4">
          <app-post-card></app-post-card>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-4">
          <app-post-card></app-post-card>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-4">
          <app-post-card></app-post-card>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-4">
          <app-post-card></app-post-card>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-4">
          <app-post-card></app-post-card>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-4">
          <app-post-card></app-post-card>
        </div>
      </div>

    </div>
  </div>

</section>


<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2>
      laterst Posts
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae doloremque itaque quas libero et porro fugit
      voluptas officia hic nulla, sed alias qui temporibus laboriosam nisi, quibusdam, placeat adipisci expedita!
    </p>
  </div>

</section>
