<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img src="https://images.pexels.com/photos/3063362/pexels-photo-3063362.jpeg?auto=compress&cs=tinysrgb&w=800"
          alt="" class="card-image-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger m-3">Design</small>
          <small class="bg-light text-success m-3">Featured</small>
          <small class="bg-light text-info m-3">Views-1000</small>
          <small class="bg-light text-warning m-3">Last Updated - SEP 20,2022</small>

          <h1 class="mt-1 mb-3">
            How to start a blog in 2023 edition new category
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil totam quaerat at cupiditate
            voluptate
            eligendi voluptas suscipit vero voluptates fugiat incidunt debitis, ipsum cumque eveniet ad laborum odio
            facilis.
            Modi, nemo unde corporis saepe ea eligendi natus, ducimus ab assumenda impedit expedita adipisci aliquam
            blanditiis. Magnam quod ipsum, iste sapiente voluptatum est praesentium voluptate totam laudantium officia
            assumenda odit nesciunt illum ipsam minus fugit modi vel quos nobis pariatur voluptatibus illo rerum nisi.
            Omnis
            delectus natus fugit soluta, voluptas sed veniam illum enim cumque placeat repellat earum provident,
            temporibus
            porro voluptatibus rerum incidunt mollitia dignissimos hic assumenda nam eum?


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil totam quaerat at cupiditate
            voluptate
            eligendi voluptas suscipit vero voluptates fugiat incidunt debitis, ipsum cumque eveniet ad laborum odio
            facilis.
            Modi, nemo unde corporis saepe ea eligendi natus, ducimus ab assumenda impedit expedita adipisci aliquam
            blanditiis. Magnam quod ipsum, iste sapiente voluptatum est praesentium voluptate totam laudantium officia
            assumenda odit nesciunt illum ipsam minus fugit modi vel quos nobis pariatur voluptatibus illo rerum nisi.
            Omnis
            delectus natus fugit soluta, voluptas sed veniam illum enim cumque placeat repellat earum provident,
            temporibus
            porro voluptatibus rerum incidunt mollitia dignissimos hic assumenda nam eum?


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga necessitatibus at cupiditate eaque qui eos
            tenetur mollitia aspernatur quisquam quas autem minus velit aperiam, hic voluptates explicabo libero eius
            iusto expedita ab animi suscipit. Facere laborum pariatur voluptate. Voluptates saepe a sint quas ab. Ex est
            accusamus non, iste beatae sint alias nam molestias quis vel quidem consequatur amet fugiat sequi? Facere
            quos corporis enim nobis aliquid in voluptatum dolorum sequi dolore, optio nemo magni similique nulla
            voluptates nisi dolorem, hic possimus vitae. Error alias quo reiciendis consequuntur doloribus aperiam
            asperiores qui nisi molestias fugiat aliquid architecto hic cupiditate obcaecati quia, ut nulla inventore
            doloremque. Vitae corporis, pariatur nesciunt vel ab, voluptatum veritatis minus, laborum voluptas ipsum
            itaque maxime numquam corrupti maiores repellendus adipisci. Corrupti rem quisquam qui consequuntur incidunt
            modi reiciendis eligendi ab? Necessitatibus debitis dicta minus, dolorem quo voluptatem voluptate doloremque
            sequi error ipsum ex ducimus ea quia!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil totam quaerat at cupiditate voluptate
      eligendi voluptas suscipit vero voluptates fugiat incidunt debitis, ipsum cumque eveniet ad laborum odio facilis.
      Modi, nemo unde corporis saepe ea eligendi natus, ducimus ab assumenda impedit expedita adipisci aliquam
      blanditiis. Magnam quod ipsum, iste sapiente voluptatum est praesentium voluptate totam laudantium officia
      assumenda odit nesciunt illum ipsam minus fugit modi vel quos nobis pariatur voluptatibus illo rerum nisi. Omnis
      delectus natus fugit soluta, voluptas sed veniam illum enim cumque placeat repellat earum provident, temporibus
      porro voluptatibus rerum incidunt mollitia dignissimos hic assumenda nam eum?
    </div>
  </div>
</div>
