/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --primary-color:#026467 ;
  --secondary-color:#E5F5EA ;
  --body-text-color:#596392 ;
  --navbar-footer-color:#F9F9F9 ;
}




*{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: var(--body-text-color);
  overflow-x: hidden;
}

.site-logo {
  padding: 1.5rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 50px;
  color: var(--primary-color);
}


.nav-link{
  color: var(--primary-color);
}

.bg-theme{
  background-color: var(--primary-color);
}

text-white{
  color: var(--secondary-color);
}
