/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #026467;
  --secondary-color: #e5f5ea;
  --body-text-color: #596392;
  --navbar-footer-color: #f9f9f9;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: var(--body-text-color);
  overflow-x: hidden;
}

.site-logo {
  padding: 1.5rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 50px;
  color: var(--primary-color);
}

.nav-link {
  color: var(--primary-color);
}

.bg-theme {
  background-color: var(--primary-color);
}

text-white {
  color: var(--secondary-color);
}

.shadow-effect {
  box-shadow: 0px 10px 33px -10px rgba(71, 114, 254, 0.3);
}
